<div class="container">
<table class="table table-striped">
<tr>
<th><a href="?sort_by=publisher_id"><%=t :publisher %></a></th>
<th><a href="?sort_by=title"><%=t :title %></a></th>
<th><a href="?sort_by=isbn">ISBN</a></th>
<th colspan="3"></th>
</tr>
<% for book in @books %>
<tr>
<td><%=h book.publisher.name %></td>
<td><%=h book.title %></td>
<td><%=h book.isbn %></td>
<td><%= link_to t(:show), :action => 'show', :id => book %></td>
<td><%= link_to t(:edit), :action => 'edit', :id => book %></td>
<td><%= link_to t(:destroy), book, :confirm => 'Are you sure?',
:method => :delete %></td>
</tr>
<% end %>
</table>
</div>
<%= will_paginate @books %>
<br />
<%= link_to t(:new_book), :action => 'new' %>
